body {
  background: linear-gradient(to bottom, #231B1B 75%, #FFD2FC );
  color: white;
  align-items: flex-start;

}

#header-row {
  position: sticky;
  padding: 20px;
  padding-top: 30px;
}

#header {
  max-width: 80%;
}

.nav-link {
  font-size: 20px;
  font-family: serif;

  text-decoration: none; /* Remove underlines by default */
  transition: color 0.3s, text-decoration 0.3s;
  
}

.nav-link:hover {
  color: #FFD2FC; /* Text color on hover */
  text-decoration: underline;
}


@media (max-width: 768px) {
  

  .nav-link {
    font-size: 16px;
  }

  #menu-button {
    width: 40px;
    height: 40px;
  }
}