@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Roboto+Slab:wght@300;400&display=swap');

body {
  display: flex;
  flex-direction: column; /* Stack the children vertically */
  /* align-items: flex-start; */
  background: linear-gradient(to bottom, #231B1B 75%, #FFD2FC );
  color: white;
  font-family: 'Roboto Slab', serif;
}

p {
  text-align: justify; 
  margin-right: 20px;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .contact-container p, .contact-container a {
  display: inline-block;
} */

/* my work carousel */
.carousel-item::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
  z-index: 1;
}

.carousel-caption {
  z-index: 2;
}
.btn-transparent {
  background-color: transparent;
  box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.5);
}
#projects{
  max-width: 100%;
}

#projects img {
  width: 100%; /* Take up the full width of the container */
  height: 500px; /* Set a specific height */
  overflow: hidden;
}

/* ----- */


.header-row {
  top: 0;
  z-index: 100;
}
.nav-link {
  font-size: 20px;
  text-decoration: none; /* Remove underlines by default */
  transition: color 0.3s, text-decoration 0.3s;
  
}

.nav-link:hover {
  color: #FFD2FC; /* Text color on hover */
  text-decoration: underline;
}

.col-4 {
  padding-bottom: 20px;
}

.contact-container {
  margin-bottom: 50px;
}


#about-row{
  margin-top: 50px;
}

#noah-headshot {
  float:left;
  padding-bottom: 5px;
  margin-right: 20px; /* Add some margin to create space between the image and text */
  max-height: 300px;
  max-width: 200px;
}

#header {
  margin-top: 50px;
  margin-bottom: 50px;
}

#about-row , #contact, #projects {
  margin-top: 50px;
  margin-bottom: 50px;
}


@media (max-width: 768px) {
  

  .nav-link {
    font-size: 14px;
  }
}

