body {
  background: linear-gradient(to bottom, #231B1B 75%, #FFD2FC );
  color: white;
}

/* the whole header */
#header {
  position: fixed;
  top: 0;
}

/* ! not sure to use max width for columns yet */
#name-header {
  /* max-width: 75%; */ 
}